.features-section {
  background-color: var(--violet);
}

.featured-list {
  display: flex;
  column-gap: 88px;
  padding: 50px 0;
}

.features-title {
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin: 22px 0 18px;
}

.features-text {
  color: #ffffffb3;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

.features-icon {
  width: 62px;
  height: 62px;
  fill: var(--accent);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 15px;
}

.features-item {
  position: relative;
  width: calc((100% - 176px) / 3);
}

.features-item:nth-child(2)::after {
  content: "";
  display: block;
  width: 1px;
  height: 124px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: -44px;
  top: 50%;
  transform: translate(50%, -50%);
}

.features-item:nth-child(2)::before {
  content: "";
  display: block;
  width: 1px;
  height: 124px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: -44px;
  top: 50%;
  transform: translate(50%, -50%);
}

.features-section {
  margin-bottom: 80px;
}
