.logo {
  color: var(--dark);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  column-gap: 4px;
}

.logo-icon {
  /* fill: transparent; <--- also works */
  fill: none;
  stroke: var(--accent);
}

.social-list-link {
  display: block;
  line-height: 0;
}

.social-icon {
  fill: none;
  stroke: var(--dark);
  transition: stroke 300ms linear;
}

.page-header,
.main-nav,
.menu,
.social-media {
  display: flex;
}

.menu {
  column-gap: 24px;
  align-items: center;
}

.social-media {
  column-gap: 14px;
}

.menu-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.menu-item a {
  color: var(--dark);
  transition: color 300ms linear;
}

.menu-item a:hover,
.menu-item a:focus {
  color: var(--accent);
}

.page-header {
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 32px;
  align-items: center;
}

.header-nav-container {
  display: flex;
  column-gap: 90px;
}
