.hero-section > .container {
  height: 600px;
  background-color: var(--gray);
  background: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../img/hero.jpg) lightgray -70.319px -105.03px / 110.32% 139.265%
      no-repeat;
  border-radius: 30px;
  padding: 0 40px;
}

.title {
  color: var(--white);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  max-width: 484px;

  padding: 380px 0 32px 0;
}

.hero-link-btn,
.hero-btn {
  padding: 14px 40px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.hero-btn {
  border: none;
  background-color: var(--accent);
  color: var(--white);

  transition: color 250ms linear, background-color 250ms linear;
}

.hero-link-btn {
  background: transparent;
  color: var(--white);
  border: 1px solid var(--white);

  transition: color 250ms linear, border 250ms linear;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.hero-btn-wrapper {
  display: flex;
  column-gap: 14px;
}

.scroll-btn {
  display: flex;
  align-items: center;
  column-gap: 14px;
  color: var(--white);
  transition: color 250ms linear;
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--light-accent);
  color: var(--accent);
}

.hero-link-btn:hover,
.hero-link-btn:focus {
  border-color: var(--accent);
  color: var(--accent);
}

.scroll-btn:hover,
.scroll-btn:focus {
  color: var(--accent);
}
.scroll-btn:hover .hero-icon,
.scroll-btn:focus .hero-icon {
  fill: var(--white);
  background-color: var(--accent);
}

.hero-icon {
  width: 38px;
  height: 38px;
  background-color: var(--white);
  fill: var(--accent);
  padding: 8px;
  border-radius: 50%;

  transition: background-color 250ms linear, fill 250ms linear;
}
