.modal-form-label > .accent {
  position: relative;
}

.modal-form-label > .accent::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--accent);
  position: absolute;
  bottom: 0;
  right: 0;
}

.send-form-btn {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 14px 40px;
  border-radius: 100px;
  border: none;
  background: var(--accent);
  margin: 0 auto;
  margin-left: 0;
  border: 1px solid var(--accent);
  transition: background-color 250ms linear, color 250ms linear;
}

.send-form-btn:hover,
.send-form-btn:focus {
  background-color: var(--light-accent);
  color: var(--accent);
}

.form-input-wrapper {
  position: relative;
}

.input-wrapper {
  width: 100%;
}

.custom-checkbox {
  margin-top: 20px;
}
.custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  background-color: transparent;
  transition: background-color 250ms linear, border-color 250ms linear;
  margin-right: 12px;
  cursor: pointer;
}

.policy-checkbox-input:checked + .custom-checkbox::before {
  background-color: var(--accent);
  content: url("../img/icons/checkmark.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: var(--accent);
}

.policy-checkbox-input:focus + .custom-checkbox::before {
  border: 1.5px solid var(--accent);
} 

.checkbox-wrapper {
  position: relative;
  margin-bottom: 40px;
}

.policy-checkbox-input {
  position: absolute;
  z-index: -10;
  left: 4px;
  top: 0;
  opacity: 0;
}

.form-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 24px;
  fill: none;
  stroke: #404040;
  transition: stroke 250ms linear;
}

.modal-form-input:focus + .form-input-icon {
  stroke: var(--accent);
}

/* .input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.modal-form-label {
  color: rgba(64, 64, 64, 0.3);
  font-size: 14px;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
  display: block;
}

.modal-form-input {
  margin-bottom: 18px;
  padding-left: 62px;
  height: 68px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  transition: border 250ms linear;
  background-color: inherit;
  width: 100%;
}

.modal-form-textarea {
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  resize: none;
  width: 100%;
  height: 137px;
  transition: border 250ms linear;
  padding: 22px 24px;
  background-color: inherit;
}

.modal-form-textarea:focus,
.modal-form-input:focus {
  outline: transparent;
  border-color: var(--accent, #fd9222);
}

.modal-form-textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-size: 18px;
  letter-spacing: -0.02em;
}

.modal-form-input:focus::placeholder,
.modal-form-textarea:focus::placeholder {
  color: var(--accent);
  transition: color 250ms linear;
}

.modal-form-label.custom-checkbox {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
