.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(76, 76, 76, 0.5);

  opacity: 0;
  pointer-events: none; /*OR visibility: hidden; */
  transition: opacity 250ms linear;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  stroke: var(--dark);
  transition: stroke 250ms linear;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  stroke: var(--accent);
}

.modal {
  position: relative;
  background-color: #fafafa;
  max-width: 517px;
  max-height: 794px;
  padding: 40px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.modal-title {
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.modal .modal-form-label {
  color: rgba(64, 64, 64, 0.3);
  font-size: 14px;
  letter-spacing: -0.02em;
}

.modal-form-input {
  margin-bottom: 18px;
  height: 68px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  transition: border 250ms linear;
}

.modal-form-textarea {
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  resize: none;
  height: 137px;
  transition: border 250ms linear;
  padding-top: 22px;
  padding-left: 24px;
}

.checkbox-wrapper {
  margin-bottom: 40px;
}

.modal-form-textarea:focus,
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent, #fd9222);
}

.modal .modal-form-label {
  margin-bottom: 8px;
}

.modal-form-textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-size: 18px;
  letter-spacing: -0.02em;
}
