:root {
  --dark: #111111;
  --violet: #1e1823;
  --gray: #4c4c4c;
  --accent: #fd9222;
  --light-accent: #fcf1e0;
  --dark-white: #fafafa;
  --white: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.is-modal-open {
  overflow: hidden;
}

.container {
  padding: 0 16px;
  width: calc(335px + (16px * 2));
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

.accent {
  color: var(--accent);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--dark);
  background-color: var(--dark-white);
}

* {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

svg {
  width: 20px;
  height: 20px;
}

address {
  font-style: normal;
}

section:not(:first-child) {
  margin-top: 80px;
}

section:last-child {
  margin-bottom: 80px;
}

.required {
  color: red;
}

.social-list-link {
  display: block;
  line-height: 0;
}

.page-header,
.main-nav,
.menu,
.social-media {
  display: flex;
}

.contact-list a:hover,
.contact-list a:focus,
.footer-nav-list a:hover,
.footer-nav-list a:focus {
  color: var(--accent);
}

.social-list-link:hover .social-icon,
.social-list-link:focus .social-icon {
  stroke: var(--accent);
}

.page-header {
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 14px;
}

.logo {
  color: var(--dark);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  column-gap: 4px;
  stroke: var(--accent);
  fill: none;
}

.header-nav-container {
  display: none;
}

.social-icon {
  fill: none;
  stroke: var(--dark);
  transition: stroke 300ms linear;
}

.menu {
  column-gap: 24px;
  align-items: center;
}

.social-media {
  column-gap: 14px;
}

.menu-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.header-link {
  color: var(--dark);
  transition: color 300ms linear;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent);
}

.hero-container {
  background-color: var(--gray);
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0),
      rgba(17, 17, 17, 0.4)
    ),
    url(../img/hero/hero-mobile.jpg);
  border-radius: 30px;
  padding: 20px;
  background-position: center;
  background-size: cover;
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .hero-container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0),
        rgba(17, 17, 17, 0.4)
      ),
      url(../img/hero/hero-mobile@2x.jpg);
  }
}

.title {
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
  max-width: 484px;
  padding-top: 375px;
  padding-bottom: 32px;
}

.hero-link-btn,
.hero-btn {
  padding: 12px 28px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.hero-btn {
  border: none;
  background-color: var(--accent);
  color: var(--white);
  transition: color 250ms linear, background-color 250ms linear;
}

.hero-link-btn {
  background: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  transition: color 250ms linear, border 250ms linear;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-btn-wrapper {
  display: flex;
  column-gap: 14px;
  margin-bottom: 32px;
  flex-shrink: 0;
}

.scroll-btn {
  font-size: 12px;
  display: flex;
  align-items: center;
  column-gap: 14px;
  color: var(--white);
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.03em;
  transition: color 250ms linear;
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--light-accent);
  color: var(--accent);
}

.hero-link-btn:hover,
.hero-link-btn:focus {
  border-color: var(--accent);
  color: var(--accent);
}

.scroll-btn:hover,
.scroll-btn:focus {
  color: var(--accent);
}
.scroll-btn:hover .hero-icon,
.scroll-btn:focus .hero-icon {
  fill: var(--white);
  background-color: var(--accent);
}

.hero-icon {
  width: 28px;
  height: 28px;
  background-color: var(--white);
  fill: var(--accent);
  padding: 6px;
  border-radius: 50%;
  transition: background-color 250ms linear, fill 250ms linear;
}

.features-section {
  min-width: fit-content;
  background-color: var(--violet);
  padding-top: 20px;
  padding-bottom: 20px;
}

.features-text {
  color: #ffffffb3;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  max-width: 308px;
}

.features-title {
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin: 22px 0 18px;
}

.features-icon {
  width: 62px;
  height: 62px;
  fill: var(--accent);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 15px;
}

.ingredients-title {
  width: 100%;
  max-width: 417px;
}

.ingredients-item {
  width: 100%;
  border-radius: 15px;
  padding: 32px 50px 28px;
  position: relative;
  overflow: hidden;
}

.ingredients-item:hover .ingredients-item-overlay {
  transform: translateX(0);
}

.ingredients-item:nth-child(4n + 3):hover {
  outline: 1px solid var(--accent);
}

.ingredients-item-overlay {
  background-color: var(--white);
  color: black;
  position: absolute;
  padding: 20px 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateX(-100%);
  transition: transform 850ms ease-in-out;
}

.overlay-title {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.overlay-list {
  display: flex;
  column-gap: 6px;
  font-size: 10px;
  line-height: 1.2;
  margin-bottom: 14px;
}

.overlay-item {
  padding: 6px 16px;
  border-radius: 35px;
  white-space: nowrap;
  border: 1px solid var(--accent);
}

.overlay-item:nth-child(odd) {
  background-color: var(--accent);
  color: var(--white);
}

.overlay-item:nth-child(even) {
  background-color: transparent;
}

.overlay-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  max-height: 145px;
  height: 100%;
  overflow-y: auto;
}

.ingredients-item:nth-child(even) {
  background-color: var(--white);
  border: 1px solid var(--accent);
}
.ingredients-item:nth-child(4n + 1) {
  background-color: var(--accent);
  border: 1px solid var(--accent);
  color: var(--white);
}
.ingredients-item:nth-child(4n + 3) {
  background-color: var(--violet);
  color: var(--white);
}

.ingredients-list-title {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

.ingredients-icon {
  fill: transparent;
  position: absolute;
  top: 14px;
  right: 14px;
}

.ingredients-item:nth-child(odd) .ingredients-icon {
  stroke: var(--white);
}
.ingredients-item:nth-child(even) .ingredients-icon {
  stroke: var(--accent);
}

.wrapper {
  max-width: 614px;
  margin: 0 auto;
}

.wrapper-element {
  border-radius: 15px;
  height: 500px;
  width: 100%;
  margin-bottom: 20px;
}

.wrapper-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 28px;
  width: 100%;
  max-width: 350px;
}

.wrapper-item {
  position: relative;
  padding-left: 16px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.01em;

  max-width: 436px;
  width: 100%;
}

.wrapper-item:not(:last-child) {
  margin-bottom: 18px;
}

.wrapper-element:last-child {
  padding: 32px;
  background-color: var(--white);
}

.wrapper-item::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #eceded;
  background: var(--gray);
  position: absolute;
  left: 0;
  top: 3px;
}

.products-item {
  border-radius: 15px;
  background-color: var(--white);
  padding: 32px 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
}

.products-img {
  margin-bottom: 8px;
}

.products-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.products-item > span {
  color: #111111b3;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
}

.products-price {
  padding: 8px 20px;
  border-radius: 100px;
  border: 1px solid #1111111a;
  display: inline-block;
  background-color: var(--dark-white);
  text-transform: uppercase;
}

.sellers-item {
  background-color: var(--white);
  border-radius: 15px;
}

.sellers-img {
  width: 100%;
  display: block;
}

.sellers-img-wrapper {
  position: relative;
  overflow: hidden;
}

.sellers-title {
  padding: 24px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  position: relative;
  z-index: 1;

  border-radius: 0px 0px 15px 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
}

.sellers-description {
  border-radius: 15px 15px 0 0;
  padding: 40px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  color: var(--white);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  background: linear-gradient(
    165deg,
    rgba(253, 253, 255, 0.1) 3.97%,
    rgba(8, 2, 21, 0) 109.76%
  );
  backdrop-filter: blur(7.5px);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transition: transform 1000ms ease-in-out;
}

.sellers-img-wrapper:hover > .sellers-description {
  transform: translateY(0);
}

.comments-photo {
  width: 80px;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 60%);
}

.comments-list {
  display: flex;
  column-gap: 28px;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 50px;
}

.comments-item {
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  padding: 56px 24px 24px;
  position: relative;
}

.comments-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 24px;
}

.comments-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

.comments-btn {
  color: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  padding: 12px 28px;
  border-radius: 100px;
  border: 1px solid var(--accent);
  background-color: transparent;
  display: block;
  margin: 0 auto;
  transition: color 300ms linear, background-color 300ms linear;
}

.comments-btn:hover,
.comments-btn:focus {
  background-color: var(--accent);
  color: var(--white);
}

footer {
  background-color: var(--violet);
  min-width: fit-content;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--white);
}

.footer-title {
  color: var(--white);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.02em;
  width: 100%;
  max-width: 300px;
}

.footer-nav::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: -32px;
}

.footer-social {
  display: flex;
  row-gap: 32px;
  flex-direction: column;
}

.footer-networks {
  order: 2;
}

.footer-contacts {
  order: 1;
}

.footer-list {
  display: flex;
  column-gap: 12px;
}

.footer-list a {
  display: block;
  line-height: 0;
}

footer .social-icon {
  stroke: var(--white);
}

.contact-link {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;

  transition: color 250ms linear;
}

.footer-subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  margin-bottom: 14px;
}

.footer-nav {
  position: relative;
  margin-top: 62px;
}

.footer-nav-link {
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;

  transition: color 250ms linear;
}

.footer-nav-item:not(:last-child) {
  margin-bottom: 18px;
}

.footer-form {
  display: flex;
  column-gap: 8px;
}

.footer-input {
  color: var(--accent);
  padding: 14px 18px;
  font-size: 14px;
  background-color: transparent;
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);

  transition: border-color 250ms linear;
}

.footer-input:active,
.footer-input:focus {
  border-color: var(--accent);
  outline: transparent;
}

.footer-nav-list {
  margin-bottom: 32px;
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
}

.form-btn {
  border: none;
  color: var(--white);
  background-color: var(--accent);
  border-radius: 100px;
  padding: 14px 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  transition: background-color 250ms linear, color 250ms linear;
}

.form-btn:hover,
.form-btn:focus {
  background-color: var(--white);
  color: var(--accent);
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(76, 76, 76, 0.5);

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms linear;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  stroke: var(--dark);
  transition: stroke 250ms linear;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  stroke: var(--accent);
}

.modal {
  position: relative;
  background-color: var(--dark-white);
  max-width: 311px;
  padding: 32px 24px;
  border-radius: 15px;
}

.modal-title {
  max-width: 255px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.modal-close-icon {
  width: 24px;
  height: 24px;
}

.modal-form-label > .accent {
  position: relative;
}

.modal-form-label > .accent::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--accent);
  position: absolute;
  bottom: 0;
  right: 0;
}

.send-form-btn {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 14px 40px;
  border-radius: 100px;
  border: none;
  background: var(--accent);
  margin: 0 auto;
  margin-left: 0;
  border: 1px solid var(--accent);
  transition: background-color 250ms linear, color 250ms linear;
}

.send-form-btn:hover,
.send-form-btn:focus {
  background-color: var(--light-accent);
  color: var(--accent);
}

.form-input-wrapper {
  margin-bottom: 14px;
}

.input-wrapper {
  width: 100%;
  position: relative;
}

.custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  background-color: transparent;
  transition: background-color 250ms linear, border-color 250ms linear;
  margin-right: 12px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.policy-checkbox-input:checked + .custom-checkbox::before {
  background-color: var(--accent);
  content: "";
  background-image: url(../img/icons/checkmark.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: var(--accent);
}

.policy-checkbox-input:focus + .custom-checkbox::before {
  border: 1.5px solid var(--accent);
}

.checkbox-wrapper {
  position: relative;
  margin-bottom: 32px;
}

.policy-checkbox-input {
  position: absolute;
  z-index: -10;
  left: 4px;
  top: 0;
  opacity: 0;
}

.form-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 18px;
  fill: none;
  stroke: #404040;
  transition: stroke 250ms linear;

  width: 18px;
  height: 18px;
}

.modal-form-input:focus + .form-input-icon {
  stroke: var(--accent);
}

.modal-form-label {
  color: rgba(64, 64, 64, 0.6);
  letter-spacing: -0.02em;
  margin-bottom: 4px;
  line-height: 1.33;
  font-size: 12px;
  display: inline-block;
}

.modal-form-label:last-child {
  margin-bottom: 0;
}

.modal-form-input {
  padding-left: 43px;
  height: 46px;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  transition: border 250ms linear;
  background-color: inherit;
  width: 100%;
}

.modal-form-textarea {
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  resize: none;
  width: 100%;
  height: 91px;
  transition: border 250ms linear;
  padding: 22px 24px;
  background-color: inherit;
}

.modal-form-textarea:focus,
.modal-form-input:focus {
  outline: transparent;
  border-color: var(--accent, #fd9222);
}

.modal-form-textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-size: 18px;
  letter-spacing: -0.02em;
}

.modal-form-input:focus::placeholder,
.modal-form-textarea:focus::placeholder {
  color: var(--accent);
  transition: color 250ms linear;
}

.modal-form-label.custom-checkbox {
  display: flex;
  align-items: center;
}

.modal-close-icon {
  width: 28px;
  height: 28px;
}

.checkbox-wrapper .modal-form-label {
  flex-wrap: wrap;
  margin-left: 32px;
}

@media screen and (max-width: 767px) {
  .br-tablet {
    display: none;
  }
  .burger-menu {
    stroke: var(--dark);
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }

  .close-mobile-menu-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    stroke: var(--white);
    background-color: transparent;
    border: none;
    line-height: 0;
    padding: 0;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: var(--violet);

    transform: translateX(100%);
    transition: transform 300ms linear;
  }

  .mobile-menu.is-menu-open {
    transform: translateX(0);
  }

  .mobile-menu > .container {
    height: 100%;
    position: relative;
  }

  .main-nav-mobile {
    display: flex;
    justify-content: center;
    padding-top: 136px;
  }

  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  .mobile-menu-link {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
  }

  .mobile-social-media {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    column-gap: 12px;
  }

  .mobile-social-media .social-icon {
    width: 20px;
    height: 20px;
    stroke: var(--white);
  }

  .features-item {
    margin-bottom: 20px;
  }

  .ingredients-item:nth-child(n + 5) {
    display: none;
  }

  .ingredients-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .products-item:not(:last-child) {
    margin-bottom: 22px;
  }

  .comments-item:not(:first-child),
  .sellers-item:not(:first-child) {
    display: none;
  }

  .footer-title {
    margin-bottom: 32px;
  }

  .modal-form-input,
  .modal-form-input::placeholder,
  .modal-form-textarea::placeholder {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  section:not(:first-child) {
    margin-top: 100px;
  }

  @media screen and (min-width: 768px) and (max-width: 1167px) {
    section:nth-child(2) {
      margin-top: 40px;
    }
  }

  .section-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
  }

  .container {
    width: calc(704px + (16px * 2));
  }

  .mobile-menu,
  .burger-menu {
    display: none;
  }
  .header-nav-container {
    display: flex;
    column-gap: 48px;
  }

  .page-header {
    padding-top: 24px;
    padding-bottom: 35px;
  }
  .br-mobile {
    display: none;
  }

  .br-tablet {
    display: block;
  }

  .hero-container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0),
        rgba(17, 17, 17, 0.4)
      ),
      url(../img/hero/hero-tablet.jpg);
    padding: 40px;
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .hero-container {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0),
          rgba(17, 17, 17, 0.4)
        ),
        url(../img/hero/hero-tablet@2x.jpg);
    }
  }

  .title {
    font-size: 28px;
    line-height: 1.21;
    padding-top: 630px;
  }

  .hero-link-btn,
  .hero-btn {
    padding: 14px 40px;
  }

  .btn-container {
    flex-wrap: nowrap;
  }

  .hero-btn-wrapper {
    margin-bottom: 0;
  }

  .scroll-btn {
    font-size: 14px;
    line-height: 1.29;
  }

  .hero-icon {
    width: 38px;
    height: 38px;
    padding: 8px;
  }

  .features-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .featured-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 44px 88px;
  }

  .features-item {
    width: calc((100% - 88px) / 2);
  }

  .ingredients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .ingredients-item {
    width: calc((100% - 32px) / 2);
  }

  .wrapper-element {
    height: 400px;
  }
  .products-item {
    width: calc((100% - 32px) / 2);
  }

  .products-list {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
  }
  .sellers-title {
    padding: 28px 0;
  }

  .sellers-list {
    display: flex;
    column-gap: 16px;
  }

  .sellers-item {
    width: calc((100% - 16px) / 2);
  }

  @media screen and (max-width: 1167px) {
    .comments-item:last-child,
    .sellers-item:last-child {
      display: none;
    }
  }

  .comments-photo {
    transform: translate(-50%, 70%);
  }

  .comments-item {
    width: calc((100% - 16px) / 2);
  }

  .comments-btn {
    font-size: 18px;
    padding: 14px 40px;
  }
  .form-btn {
    padding: 17px 28px;
  }

  .footer-input {
    padding: 14px 24px;
    font-size: 18px;
  }

  .footer-networks,
  .footer-contacts {
    order: 0;
  }

  .footer-social {
    flex-direction: row;
    column-gap: 32px;
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 78px;
  }

  .footer-nav-list {
    display: flex;
    column-gap: 16px;
    margin-bottom: 0;
  }

  .footer-nav-item:not(:last-child),
  .footer-nav-item {
    margin-bottom: 0;
  }

  .footer-input {
    width: 233px;
  }

  .footer-info {
    display: flex;
    justify-content: space-between;
  }

  .footer-nav::after {
    top: -24px;
  }

  .modal-close-btn {
    top: 24px;
    right: 24px;
  }

  .form-input-icon {
    width: 24px;
    height: 24px;
  }

  .modal {
    max-width: 517px;
    padding: 40px;
  }

  .modal-title {
    max-width: 298px;
    font-size: 24px;
    margin-bottom: 40px;
  }

  .form-input-wrapper {
    margin-bottom: 18px;
  }

  .modal-form-input {
    padding-left: 62px;
    height: 68px;
    border-radius: 13px;
  }

  .modal-form-textarea {
    height: 137px;
  }

  .checkbox-wrapper {
    margin-bottom: 40px;
  }

  .modal-form-label {
    margin-bottom: 8px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1168px) {
  .container {
    width: calc(1136px + (16px * 2));
  }

  svg {
    width: 24px;
    height: 24px;
  }

  .header-nav-container {
    column-gap: 90px;
  }

  .logo {
    font-size: 18px;
    line-height: 1.11;
  }

  .page-header {
    padding-bottom: 32px;
  }

  .hero-container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0),
        rgba(17, 17, 17, 0.4)
      ),
      url(../img/hero/hero-desktop.jpg);
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .hero-container {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0),
          rgba(17, 17, 17, 0.4)
        ),
        url(../img/hero/hero-desktop@2x.jpg);
    }
  }

  .title {
    padding-top: 380px;
  }

  .features-item:nth-child(2)::after {
    content: "";
    display: block;
    width: 1px;
    height: 124px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: -44px;
    top: 50%;
    transform: translate(50%, -50%);
  }

  .features-item:nth-child(2)::before {
    content: "";
    display: block;
    width: 1px;
    height: 124px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    right: -44px;
    top: 50%;
    transform: translate(50%, -50%);
  }

  .features-item {
    position: relative;
    width: calc((100% - 176px) / 3);
  }

  .ingredients-item {
    width: calc((100% - 96px) / 4);
    padding: 28px 23px;
  }

  .ingredients-list {
    gap: 24px 32px;
  }

  .wrapper-item:not(:last-child) {
    margin-bottom: 24px;
  }

  .wrapper {
    display: flex;
    column-gap: 20px;
    max-width: none;
    margin: auto;
  }

  .wrapper-element {
    width: calc((100% - 20px) / 2);
    margin-bottom: 0;
  }

  .products-item {
    width: calc((100% - (18px * 3)) / 4);
    padding: 32px 20px;
  }

  .products-list {
    gap: 24px 18px;
  }

  .sellers-item {
    width: calc((100% - 32px) / 3);
  }

  .comments-item {
    width: calc((100% - (16px * 2)) / 3);
  }
  footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .form-btn {
    padding: 17px 40px;
  }

  .footer-input {
    width: 313px;
  }

  .footer-title {
    font-size: 28px;
  }

  .footer-nav-list {
    column-gap: 24px;
  }

  .footer-list {
    column-gap: 14px;
  }

  .footer-social {
    column-gap: 50px;
  }
}
